# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.env

# Logs
logs/
*.log
log*/

# Build Files
dist/
build/
coverage/

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

